<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Mail Messages Easy</h2>
        <h3 class="oe_slogan">View and manage all Flectra messages in one place</h3>
        <div
                class="oe_demo oe_screenshot"
                style="max-width: 800px; margin-left: auto; margin-right: auto"
        >
            <a target="_blank" href="app_screen.png">
                <img src="app_screen.png" />
            </a>
        </div>
        <h3 class="oe_slogan">Pro Version</h3>
        <div
                class="oe_demo oe_screenshot"
                style="max-width: 800px; margin-left: auto; margin-right: auto"
        >
            <a target="_blank" href="app_screen_pro.png">
                <img src="app_screen_pro.png" />
            </a>
        </div>
    </div>
</section>

<!-- Features -->
<section
        class="oe_container"
        style="max-width: 80%; margin-left: auto; margin-right: auto; padding: 10px"
        id="features"
>
    <div class="row justify-content-center">
        <div class="col-6">
            <h3 style="margin: 15px">MAIN FEATURES</h3>
            <ul style="font-size: 14px; color: #4f4f4f">
                <li>
                    View and manage all Flectra messages just like with a regular email client!<br />
                    Messages and internal notes only are shown (system notifications and
                    chat/channel messages are NOT displayed!)<br />
                    <u>NB:</u> User can only see messages posted to the records he|she has access
                    to. If user can see the message it means that user has at least read access to
                    the record this message is posted to. Limit access to record for limiting
                    access to record messages
                </li>
                <li>Move messages to "Trash" and restore them. Empty trash by schedule</li>
                <li>Edit notes or messages. Flexible user settings for edit access!</li>
                <li>Print messages</li>
                <li>Reply to or quote messages</li>
                <li>Forward messages to other thread</li>
                <li>Archive/Unarchive messages</li>
                <li>Mark messages read/unread</li>
                <li>Star/Unstar messages</li>
                <li>Open Partner's messages directly from Partner Form view</li>
                <li>Use pre-defined filters to display messages you need</li>
            </ul>
            <h3 style="margin: 15px">CONVERSATIONS</h3>
            <ul style="font-size: 14px; color: #4f4f4f">
                <li>
                    Use Conversations any time you want to send message without attaching it to
                    any special model (like Lead, Task etc).
                </li>
                <li>
                    Configure "Conversation" as a fallback model for incoming messages. If Flectra
                    will not find a record to route incoming message it will create a new
                    Conversation
                </li>
                <li>
                    Create a new Conversation manually and use it for communication with
                    customers, suppliers, employees or any partners
                </li>
                <li>
                    Need a private conversation? Restrict access to Conversations in User
                    settings!
                </li>
                <li>Forward or move messages from Conversation to any other record/thread</li>
                <li>
                    Empty Conversation will be deleted automatically when all messages are deleted
                    or moved
                </li>
            </ul>
        </div>
        <div class="col-6">
            <h3 style="margin: 15px">PRO FEATURES</h3>
            <p style="margin: 0 0 10px 15px">
                <a
                        target="_blank"
                        href="https://apps.flectra.com/apps/modules/14.0/prt_mail_messages_pro"
                ><b>Click to get Pro Version and support the project!</b></a
                >
            </p>
            <ul style="font-size: 14px; color: #4f4f4f">
                <li><b>Message preview pane</b></li>
                <li><b>Email mode with To Cc and Bcc fields</b></li>
                <li>Show lost messages</li>
                <li>
                    Edit <i class="fa fa-edit"></i> or Delete <i class="fa fa-trash" /> Messages
                    or Notes directly from Chatter thread
                </li>
                <li>Move messages to any other record/thread</li>
                <li>
                    Reply <i class="fa fa-quote-left"></i>, Forward <i class="fa fa-copy" />, Move
                    <i class="fa fa-arrow-right" /> Message directly from Chatter thread
                </li>
                <li>Chatter Filter: Show/Hide Messages, Notes or Notifications</li>
                <li>Assign message author if author was not detected automatically</li>
                <li>
                    Delete CRM Leads/Opportunities if no messages left except for notifications
                </li>
            </ul>
            <h3 style="margin: 15px">EXTRA OPTIONS</h3>
            <ul style="font-size: 14px; color: #4f4f4f">
                <li>
                    Block spam and filter incoming messages using
                    <a
                            target="_blank"
                            href="https://apps.flectra.com/apps/modules/14.0/cx_mail_messages_filter/"
                    ><b>Message Filter</b></a
                    >
                    app
                </li>
                <li>
                    Use free
                    <a
                            target="_blank"
                            href="https://apps.flectra.com/apps/modules/14.0/prt_mail_messages_draft/"
                    ><b>Draft Messages</b></a
                    >
                    app for handling draft messages
                </li>
                <li>
                    Manage multiple email addresses and phone number for Contact using
                    <a
                            target="_blank"
                            href="https://apps.flectra.com/apps/modules/14.0/prt_phone_numbers/"
                    ><b>Improved Contacts</b></a
                    >
                    app
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- General -->
<section
        class="oe_container"
        style="max-width: 80%; margin-left: auto; margin-right: auto; padding: 10px"
        id="general"
>
    <div class="row justify-content-center">
        <div class="col-6">
            <h3 style="margin: 15px">NEW IN VERSION 7.1</h3>
            <ul style="font-size: 14px; color: #4f4f4f">
                <li>Print messsages</li>
                <li>Move messages to "Trash" instead on deleting them instantly!</li>
                <li>Archive/Unarchive messages!</li>
                <li>
                    <a
                            target="_blank"
                            href="https://apps.flectra.com/apps/modules/14.0/prt_mail_messages_pro"
                    ><b>Pro Version:</b></a
                    >
                    Email mode: Send Flectra messages with To CC BCC fields!
                </li>
            </ul>
        </div>
        <div class="col-6">
            <h3 style="margin: 15px">SUPPORT</h3>
            <ul style="font-size: 14px; color: #4f4f4f">
                <li>Tested on Flectra Community and Flectra Enterprise Edition</li>
                <li>German, Spanish, Russian language translations</li>
                <li>English, German and Russian language support</li>
            </ul>
        </div>
    </div>
    <div
            class="row"
            style="display: block; margin: 0 auto; width: 100%; text-align: center"
    >
        <h2 style="text-align: center">
            Need support, customization or interested in collaboration?
        </h2>
        <div style="display: inline-block">
            <a
                    target="_blank"
                    href="https://apps.flectra.com/apps/browse?repo_maintainer_id=222445"
            >
                <h4
                        class="mt16 mb0"
                        style="
            padding: 16px 45px;
            text-transform: uppercase;
            background-color: #ba9e27;
            text-align: center;
            box-shadow: 2px 1px 12px 3px #ece6e6;
            border-radius: 10px;
            color: #fff;
            font-weight: 700;
          "
                >
                    Try our Apps
                </h4>
            </a>
            <div>In Flectra App Store</div>
        </div>
        <div style="display: inline-block">
            <a href="https://cetmix.com" target="_blank">
                <h4
                        class="mt16 mb0"
                        style="
            padding: 16px 45px;
            text-transform: uppercase;
            background-color: #b36427;
            text-align: center;
            box-shadow: 2px 1px 12px 3px #ece6e6;
            border-radius: 10px;
            color: #fff;
            font-weight: 700;
          "
                >
                    Contact Us
                </h4>
            </a>
            <div>cetmix.com</div>
        </div>
        <div style="display: inline-block">
            <a target="_blank" href="https://demo.cetmix.com">
                <h4
                        class="mt16 mb0"
                        style="
            padding: 16px 45px;
            text-transform: uppercase;
            background-color: #ba9e27;
            text-align: center;
            box-shadow: 2px 1px 12px 3px #ece6e6;
            border-radius: 10px;
            color: #fff;
            font-weight: 700;
          "
                >
                    Run demo
                </h4>
            </a>
            <div>demo.cetmix.com</div>
        </div>
    </div>
    <div class="row" style="display: block; margin-top: 10px; text-align: center">
        <div style="display: inline-block">
            <a target="_blank" href="https://www.facebook.com/cetmixteam/"
            ><img
                    alt="Facebook"
                    style="max-height: 32px"
                    src="https://demo.cetmix.com/cetmix_demo/static/src/images/fb.png"
            /></a>
        </div>
        <div style="display: inline-block">
            <a target="_blank" href="https://www.instagram.com/cetmix_team/"
            ><img
                    alt="Instagram"
                    style="max-height: 32px"
                    src="https://demo.cetmix.com/cetmix_demo/static/src/images/t212.png"
            /></a>
        </div>
        <div style="display: inline-block">
            <a target="_blank" href="https://twitter.com/cetmix_team"
            ><img
                    alt="Twitter"
                    style="max-height: 32px"
                    src="https://demo.cetmix.com/cetmix_demo/static/src/images/8271.png"
            /></a>
        </div>
        <div style="display: inline-block">
            <a target="_blank" href="https://www.linkedin.com/company/cetmix/"
            ><img
                    alt="LinkedIn"
                    style="max-height: 32px"
                    src="https://demo.cetmix.com/cetmix_demo/static/src/images/catme.png"
            /></a>
        </div>
        <p>Search for "cetmix" in social networks</p>
    </div>
</section>

<section
        class="oe_container"
        style="max-width: 80%; margin-left: auto; margin-right: auto; padding: 10px"
        id="screenshots"
>
    <!-- General -->
    <div class="row justify-content-center">
        <div class="col-6">
            <h3 class="oe_slogan">Message List</h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="message_list.png">
                    <img alt="Message List" style="max-width: 100%" src="message_list.png" />
                </a>
            </div>
        </div>
        <div class="col-6">
            <h3 class="oe_slogan">Message Form</h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="message_form.png">
                    <img alt="Message Form" style="max-width: 100%" src="message_form.png" />
                </a>
            </div>
        </div>
    </div>

    <!-- Reply, Edit -->
    <div class="row justify-content-center">
        <div class="col-6">
            <h3 class="oe_slogan">Reply, Quote, Forward</h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="compose_wizard.png">
                    <img
                            alt="Message Composer"
                            style="max-width: 100%"
                            src="compose_wizard.png"
                    />
                </a>
            </div>
        </div>
        <div class="col-6">
            <h3 class="oe_slogan">Edit message or note</h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="edit_wizard.png">
                    <img alt="Edit Wizard" style="max-width: 100%" src="edit_wizard.png" />
                </a>
            </div>
        </div>
    </div>

    <!-- Partner -->
    <div class="row justify-content-center">
        <div class="col-6">
            <h3 class="oe_slogan">Partner Form</h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="partner_form.png">
                    <img alt="Partner Form" style="max-width: 100%" src="partner_form.png" />
                </a>
            </div>
        </div>
    </div>
    <!-- Preview, Email mode -->
    <div class="row justify-content-center">
        <div class="col-6">
            <h3 class="oe_slogan">
                Preview Pane
                <a
                        target="_blank"
                        href="https://apps.flectra.com/apps/modules/14.0/prt_mail_messages_pro"
                ><u>Pro</u></a
                >
            </h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="preview_pane.gif">
                    <img alt="Preview Pane" style="max-width: 100%" src="preview_pane.gif" />
                </a>
            </div>
        </div>
        <div class="col-6">
            <h3 class="oe_slogan">
                To, Cc, Bcc
                <a
                        target="_blank"
                        href="https://apps.flectra.com/apps/modules/14.0/prt_mail_messages_pro"
                ><u>Pro</u></a
                >
            </h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="composer_mode.gif">
                    <img
                            alt="Email Mode Cc Bcc"
                            style="max-width: 100%"
                            src="composer_mode.gif"
                    />
                </a>
            </div>
        </div>
    </div>

    <!-- Move, Show/Hide -->
    <div class="row justify-content-center">
        <div class="col-6">
            <h3 class="oe_slogan">
                Move to other thread
                <a
                        target="_blank"
                        href="https://apps.flectra.com/apps/modules/14.0/prt_mail_messages_pro"
                ><u>Pro</u></a
                >
            </h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="move_message.png">
                    <img alt="Message Move" style="max-width: 100%" src="move_message.png" />
                </a>
            </div>
        </div>
        <div class="col-6">
            <h3 class="oe_slogan">
                Show/hide messages, notes or notifications
                <a
                        target="_blank"
                        href="https://apps.flectra.com/apps/modules/14.0/prt_mail_messages_pro"
                ><u>Pro</u></a
                >
            </h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="chatter_filter.gif">
                    <img alt="Chatter Filter" style="max-width: 100%" src="chatter_filter.gif" />
                </a>
            </div>
        </div>
    </div>

    <!-- Conversations -->
    <div class="row justify-content-center">
        <div class="col-6">
            <h3 class="oe_slogan">Conversation List</h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="conversation_list.png">
                    <img
                            alt="Conversation List"
                            style="max-width: 100%"
                            src="conversation_list.png"
                    />
                </a>
            </div>
        </div>
        <div class="col-6">
            <h3 class="oe_slogan">Conversation Form</h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="conversation_form.png">
                    <img
                            alt="Conversation Form"
                            style="max-width: 100%"
                            src="conversation_form.png"
                    />
                </a>
            </div>
        </div>
        <div class="col-8">
            <h3 class="oe_slogan">Mail Server Settings for Conversations</h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="mail_server_settings.png">
                    <img
                            alt="Mail Server Settings"
                            style="max-width: 100%"
                            src="mail_server_settings.png"
                    />
                </a>
            </div>
        </div>
    </div>

    <!-- Settings -->
    <div class="row justify-content-center">
        <div class="col-6">
            <h3 class="oe_slogan">User Settings</h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="user_settings.png">
                    <img alt="User Settings" style="max-width: 100%" src="user_settings.png" />
                </a>
            </div>
        </div>
        <div class="col-6">
            <h3 class="oe_slogan">General Settings</h3>
            <p style="text-align: center">Open image in new tab to enlarge</p>
            <div class="oe_screenshot">
                <a target="_blank" href="general_settings.png">
                    <img
                            alt="General Settings"
                            style="max-width: 100%"
                            src="general_settings.png"
                    />
                </a>
            </div>
        </div>
    </div>
    <h5 class="oe_slogan">
        <a href="https://www.freepik.com/free-photos-vectors/icon"
        >Icon vector created by Freepik</a
        >
    </h5>
</section>
